---
layout: page
title: "STAR"
description: "那仰望的人心里的孤独和叹息"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 孤 </option>
    <option value="1"> 夜空中最亮的星 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        那又如何？
	在这个世界上，从来没有理所应当！
    </blockquote>
怪异，孤僻，我知道这不过是为自己贴上一张相对来说与众不同的标签而已。<br>
开始时的确为该属性发生在自己身上而苦恼过，<br>
后来也自以为比周围的人要更向往纯净透彻而沾沾自喜过。<br>
但显然这些都是因为内心的脆弱，<br>
无法心甘与负面的事物同流合污，<br>
又没有真正的实力改变周围的不美好。<br>
导致自己不知疲惫的在本就狭隘的社交圈子中筛选，<br>
剔除那些不相为谋的断定今后都不可能有交集的废人烂人恶人，<br>
抵触那些妄想以他(她)经验标准来同化我，甚至改变我的人。<br>
<br>
我不屑，我厌恶，我鄙夷，我轻蔑，<br>
我信奉物理类聚，人以群分，<br>
生来便有一种注定，逃不过亦求不得。<br>
真正能够与你为伴，走到最后的人，<br>
本就是与你有着“我还没说可惜，你已经在叹息”的默契。<br>
这世界物欲横流，冷漠无情。<br>
我无违，我无谓，我无畏，<br>
我厌恶人云亦云，吠影吠声，<br>
哪怕唯有一人，我无悔。<br>


</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        夜空中最亮的星
    </blockquote>
夜空中最亮的星<br>
能否听清<br>
那仰望的人<br>
心底的孤独和叹息<br>
夜空中最亮的星<br>
能否记起<br>
曾与我同行<br>
消失在风里的身影
<br><br>
我祈祷拥有一颗透明的心灵<br>
和会流泪的眼睛<br>
给我再去相信的勇气<br>
越过谎言去拥抱你<br>
每当我找不到存在的意义<br>
每当我迷失在黑夜里<br>
夜空中最亮的星<br>
请指引我靠近你
<br><br>
夜空中最亮的星<br>
是否知道<br>
曾与我同行的身影<br>
如今在哪里<br>
夜空中最亮的星<br>
是否在意<br>
是等太阳升起<br>
还是意外先来临<br>
<br>
<p>
<img src="https://wzqxing.github.io/img/1437064855210.jpeg">
</p>
我宁愿所有痛苦都留在心里<br>
也不愿忘记你的眼睛<br>
给我再去相信的勇气<br>
越过谎言去拥抱你<br>
每当我找不到存在的意义<br>
每当我迷失在黑夜里<br>
夜空中最亮的星<br>
请照亮我前行
<br><br>
我祈祷拥有一颗透明的心灵<br>
和会流泪的眼睛<br>
给我再去相信的勇气<br>
越过谎言去拥抱你<br>
每当我找不到存在的意义<br>
每当我迷失在黑夜里<br>
夜空中最亮的星<br>
请照亮我前行
<br><br>
夜空中最亮的星<br>
能否听清<br>
那仰望的人<br>
心底的孤独和叹息<br>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
